* {
  box-sizing: border-box;
}
html, body, #root, main {
  height: 100%;
  margin: 0;
}

#lexon-plugin header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 15px;
}

#lexon-plugin header a,
#lexon-plugin header .title {
  display: flex;
  height: 60%;
}

#lexon-plugin header svg,
#lexon-plugin header img {
  width: auto;
  height: 100%;
  margin-right:5px;
}

#lexon-plugin section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.btn-group-toggle {
  width: 90%;
  text-transform: uppercase;
  margin: 10px 0;
}

.btn-group-toggle .btn {
  cursor: pointer;
  font-size: 0.8rem;
}

#local-url {
  width: 45%;
}

#compile-btn {
  width: 90%;
  align-items: center;
}

#compile-btn * {
  margin: 0.2em;
  width: 100%;
  align-items: center;
}

#result {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}

#result.error {
  justify-content: flex-start;
}
#result.error svg {
  width: 40px;
  height: 40px;
  margin: 10px;
}

#result nav {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}


#result nav a {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  height: 100%;
}

#result .tab-content {
  flex: 1;
  width: 100%;
  padding: 15px;
  overflow: auto;
  height: 100%;
}

#result .tab-pane.active {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#result .copy {
  padding: 5x;
  font-size: 0.8rem;
  margin: 10px;
}

#result p {
  text-align: center;
  width: 100%;
}

#result .react-json-view {
  overflow-y: auto;
}

#result textarea {
  border: none;
  height: 100%;
  width: 100%;
}